[project]
	description = go project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jbrooks98
[access "refs/for/refs/*"]
	read = group user/jbrooks98
	push = group user/jbrooks98
	label-Code-Review = -2..+2 group user/jbrooks98
	label-Verified = -1..+1 group user/jbrooks98
	rebase = group user/jbrooks98
	removeReviewer = group user/jbrooks98
	submit = group user/jbrooks98
[access "refs/heads/*"]
	read = group user/jbrooks98
	create = group user/jbrooks98
	push = +force group user/jbrooks98
	pushMerge = group user/jbrooks98
[access "refs/tags/*"]
	push = +force group user/jbrooks98
	pushTag = group user/jbrooks98
	pushSignedTag = group user/jbrooks98
